body div{
    width: 100px;
    height: 100px;
    float: left;
    border:1px solid #ddd;
}
.style1{
    background-image: url(./../images/1.jpg);
}
.style2{
    background-image: url(./../images/2.jpg);
}
.style3{
    background-image: url(./../images/3.png);
}
.style4{
    background-image: url(./../images/4.png);
}